digraph {
    node [fontname="courier"]

    {%- for id, vertex in vertices.items() %}
    "{{id}}"
    {%- endfor %}

    {%- for edge in edges %}
    "{{edge.from.id}}" -> "{{edge.to.id}}" [label="[{{edge.id}}]" href="#edge.{{edge.id}}"{% if edge.bidir %} dir=both{% endif %}]
    {%- endfor %}
}
